@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.head{
    height: 100vh;
    background-image: url('./images/anand-thakur-y0dSeflqUWo-unsplash.jpg');
    background-size: cover;
    background-position: bottom center;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 99% 80%, 50% 100%, 0 80%, 0 0);
}

.head h1{
    color: whitesmoke;
    font-size: 70px;
    font-family: cursive;
    font-weight: 900;
    word-spacing: 20px;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 50px;
}

.content, .cow-type{
    width: 80%;
    background-image: linear-gradient(10deg, pink, rgb(122, 122, 244), red);
    margin: 40px auto;
    padding: 40px;
}

.content h2, .cow-type h2{
    font-size: 30px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: yellow;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.content p{
    font-size: 20px;
    line-height: 2em;
}

.cow-images{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.cow-images div{
    width: 300px;
}

.cow-images img{
    width: 100%;
}